<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBLFdYmIK0antwSjBxTKGlIPdSkhnmNe2Q</string>
	<key>GCM_SENDER_ID</key>
	<string>504729282559</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mtriple</string>
	<key>PROJECT_ID</key>
	<string>mtriple-7dbe4</string>
	<key>STORAGE_BUCKET</key>
	<string>mtriple-7dbe4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:504729282559:ios:2c6460a3fa4839b78769ca</string>
</dict>
</plist>